form {
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    justify-content: center;
    align-items: center;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1e1e1f;
    margin-bottom: 26px;
}

textarea {
    width: 100%;
    background-color: #f9fbfc;
    border: 2px solid #202329;
    border-radius: 2px;
}

.TodoForm-buttonContainer {
    border:inherit;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 2px;
}

.TodoForm-button {
    border-radius: 0.5rem;
    padding: 2px;
    border-color: none;
    justify-content: flex-end;
}
